/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 130px;
}
 .nav-link.active, .nav-link.active:hover {
 color: rgba(0, 0, 0, 0.5) !important;
 opacity: 1;
}
.nav-link {
 color: #007bff !important;
}
.nav-link:hover {
    opacity: 0.75;
}
.mt-5 {
  margin-top: 2rem !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 120px; /* Vertically center the text there */
}
.custom-footer {
 display: block;
 width: 100%;
 text-align: center;
}
.cat-image {
 height: 120px;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
