{% extends 'base.html' %}
{% block title %}Проверка текста на академичность{% endblock %}

{% block links %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/sticky-footer-navbar.css" rel="stylesheet">
  {% endblock %}

  {% block content %}
  <main role="main" class="container">
    <h1 class="mt-5">Информация о корпусе</h1>
    <div class="info">
      <h3>Данные</h3>


      <p>Корпус включает домены по предметным областям, что позволяет сравнивать поступающие на вход ученические тексты
        как с общенаучным дискурсом, так и внутри определенной предметной области. Источниками текстов являются журналы
        научных статей по соответствующим предметным областям. Во избежание включения в корпус статей низкого качества
        использовались журналы, входящие в Перечень журналов, публикации в которых учитываются при назначении
        академических надбавок в НИУ ВШЭ.
        Выделяются следующие домены:</p>
      <div class="list-and-size">
        <ul>
          <li>Политология</li>
          <li>Лингвистика</li>
          <li>Юриспруденция</li>
          <li>Психология</li>
          <li>Экономика</li>
          <li>Социология</li>
        </ul>

        <h3>Объём корпуса</h3>
        <p>Общий объём составляет порядка 2 млн. токенов.</p>
      </div>

    </div>


    <h3>Разметка</h3>
    <p>Деление на токены и предложения, а также морфологическая и синтаксическая аннотация корпуса осуществлялись
      автоматически посредством пайплайна UDPipe.</p>

    <h3>Связанные ресурсы</h3>
    <p>На основе корпуса были созданы списки коллокаций, по которым также можно осуществлять поиск. Также реализован
      инструмент поиска стилистических ошибок на основе разметки в формате conll. Алгоритм находит следующие
      отклонения от академического стиля: длинные последовательности генитивов; неправильное употребление
      сравнительной степени; неверное употребление сочинительных групп; слова, не встречающиеся в академических
      текстах; смешение употребления “я” и “мы”; неверное употребление наклонения глаголов; слишком длинные
      предложения.</p>


    <h3>Разработчики</h3>
    <p>Преподаватели: Михаил Копотев (Хельсинкский университет), Олеся Кисселев (Университет Техаса в Сан-Антонио),
      Наталья Зевахина, Светлана Толдова (НИУ ВШЭ)</p>
    <p>Студенты 2017-2019: Анастасия Баранчикова, Анна Дмитриева, Александр Климов, Станислав Краснов, Мария Фёдорова (НИУ
      ВШЭ)</p>
    <p>Студенты 2019-2021: Елизавета Носова, Мария Килина, Андреа Грилланди,  Гадир Херуллах  (НИУ ВШЭ)</p>
    </div>
  </main>

  <footer class="footer">
    <div class="container custom-footer">
      <span class="text-muted">
        <img class="cat-image" src="../static/img/cat3.jpg" />
      </span>
    </div>
  </footer>

{% endblock %}