{% extends 'base.html' %}
{% block title %}Поиск в корпусе{% endblock %}
{% block links %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
<link href="../static/css/bootstrap.css" rel="stylesheet">
<link href="../static/css/sticky-footer-navbar.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/search.css">
<script type="text/javascript" src="../static/dropdown_checkboxes.js"></script>
{% endblock %}

{% block content %}

<!-- Begin page content -->
<main role="main" class="container">
  <h1 class="mt-5">Поиск в корпусе академических текстов</h1>
  <div class="row">
    <div class="col-12">
      <h5>Выберите предметную область:
        <div class="domain subject-field">
          <select class="form-control" name="search-domain">
            <option>Весь корпус</option>
            <option>Лингвистика</option>
            <option>Социология</option>
            <option>История</option>
            <option>Юриспруденция</option>
            <option>Психология и педагогика</option>
            <option>Экономика</option>
          </select>
        </div>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 order-lg-1">
      <h4>Поиск точной формы</h4>
      <form class="form-inline my-2 my-lg-0 search-exact" action="search" method="post">
        <input type='hidden' name='csrfmiddlewaretoken'
          value='APhqDVYfVhF9ajd0BvFA7Sy0jpOVy25s3A4BaL6GekKgvVBZMzBTWxweMfj5r4Ja' />
        <input class="form-control mr-sm-2 exact-search-field" type="search" placeholder="Введите словоформу"
          aria-label="Search" name="search" style="width: 100%;">
        <button class="btn btn-success my-2 my-sm-0 exact-search-button" type="submit">Искать</button>
      </form>
    </div>
    <div class="col-lg-9 order-lg-2">
      <h4>Лексико-грамматический поиск</h4>
      <p>На данный момент грамматический поиск не работает.</p>
      <form class="form-inline my-2 my-lg-0" action="search" method="post">
        <div class="search-lex-gram">
          <div class="lemma">
            <input type='hidden' name='csrfmiddlewaretoken'
              value='APhqDVYfVhF9ajd0BvFA7Sy0jpOVy25s3A4BaL6GekKgvVBZMzBTWxweMfj5r4Ja' />
            <input class="form-control mr-sm-2" placeholder="Введите лемму 1" name="lemma1">

            <textarea class="form-control" rows="1" name="morph1" id="morph1" readonly></textarea>

            <button class="btn btn-primary" onclick="basicPopup();whichLemma = 1;return false">Уточнить морфологию
            </button>
          </div>


          <div class="distance">
            <p>Расстояние между леммами от
              <input type=number min="-50" max="50" placeholder="-1" name="min"> до <input type=number min="-50"
                max="50" placeholder="1" name="max"></p>
          </div>

          <div class="relation">
            <select class="form-control" name="syntax">
              <option>Синтаксическое отношение</option>
              <option>acl: clausal modifier of noun (adjectival clause)</option>
              <option>advcl: adverbial clause modifier</option>
              <option>advmod: adverbial modifier</option>
              <option>amod: adjectival modifier</option>
              <option>appos: appositional modifier</option>
              <option>aux: auxiliary</option>
              <option>auxpass: passive auxiliary</option>
              <option>case: case marking</option>
              <option>cc: coordinating conjunction</option>
              <option>ccomp: clausal complement</option>
              <option>compound: compound</option>
              <option>conj: conjunct</option>
              <option>cop: copula</option>
              <option>csubj: clausal subject</option>
              <option>csubjpass: clausal passive subject</option>
              <option>dep: unspecified dependency</option>
              <option>det: determiner</option>
              <option>discourse: discourse element</option>
              <option>dislocated: dislocated elements</option>
              <option>dobj: direct object</option>
              <option>expl: expletive</option>
              <option>foreign: foreign words</option>
              <option>goeswith: goes with</option>
              <option>iobj: indirect object</option>
              <option>list: list</option>
              <option>mark: marker</option>
              <option>mwe: multi-word expression</option>
              <option>name: name</option>
              <option>neg: negation modifier</option>
              <option>nmod: nominal modifier</option>
              <option>nsubj: nominal subject</option>
              <option>nsubjpass: passive nominal subject</option>
              <option>nummod: numeric modifier</option>
              <option>obj</option>
              <option>parataxis: parataxis</option>
              <option>punct: punctuation</option>
              <option>remnant: remnant in ellipsis</option>
              <option>reparandum: overridden disfluency</option>
              <option>root: root</option>
              <option>vocative: vocative</option>
              <option>xcomp: open clausal complement</option>
            </select>
          </div>

          <div class="lemma">
            <input class="form-control mr-sm-2" placeholder="Введите лемму 2" name="lemma2">
            <textarea class="form-control" rows="1" name="morph2" id="morph2" readonly></textarea>

            <button class="btn btn-primary" onclick="basicPopup();whichLemma = 2;return false">Уточнить морфологию
            </button>

          </div>

          <button class="btn btn-success lex-gram-button" type="submit">Искать</button>
        </div>

      </form>
    </div>
  </div>
</main>

<footer class="footer">
  <div class="container custom-footer">
    <span class="text-muted">
      <img class="cat-image" src="../static/img/cat1.jpg" />
    </span>
  </div>
</footer>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/jquery-3.5.1.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../static/popper.min.js"></script>
<script src="../static/bootstrap.min.js"></script>

{% endblock %}
